/* 
--- 01 TYPOGRAPHY SYSTEM
		
		- FONT SIZE SYSTEM (px)
		10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 
		36 / 44 / 52 / 62 / 74 / 86 / 98

		- FONT WEIGHTS
			DEFAULT: 
			MEDIUM: 
			SEMI-BOLD: 
			BOLD: 
			
		- LINE HEIGHT
			DEFAULT: 
			SMALL: 
			MEDIUM:
			PARAGRAPH DEFAULT: 

		- LETTER SPACING
			(-0.5px)
			(-0.75px)


--- 02 COLORS

		PRIMARY COLOR: #E83820
		TINTS: #f6afa6, #fdebe9
		SHADES: #bb1f1f
		ACCENTS:
		GREYS: #343a40, #555, #868e96, #dee2e6


--- 05 SHADOWS

--- 06 BORDER RADIUS

		DEFAULT: 9px
		MEDIUM: 11px 


--- 07 WHITESPACE

        -SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 /
		48 / 64 / 80 / 96 / 128


*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 1;
	color: #555;
	
}

*,
html {
	--primaryGradient: linear-gradient(93.12deg, #bb1f1f 0.52%, #e83820 100%);
	--secondaryGradient: linear-gradient(
		268.91deg,
		#e83820 -2.14%,
		#bb1f1f 99.69%
	);
	--primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
	--secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
	--primary: #e83820;
}

section {
	padding: 2.5rem 0;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #555;
}

p {
	margin: 0;
}

.heading-primary {
	color: #dee2e6;
	font-size: 2.7rem;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: -1px;
	margin-bottom: 1.8rem;
}

.heading-secondary {
	color: #343a40;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: -0.7px;
	margin-bottom: 1.8rem;
}

.heading-tertiary {
	color: #343a40;
	font-size: 1.7rem;
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: -0.7px;
	margin-bottom: 1.8rem;
}

.subtitle {
	display: inline-block;
	color: #343a40;
	font-size: 0.8rem;
	font-weight: 500;
	background-color: #ced4da;
	margin: 0 0 0.5rem 0;
	padding: 0.3rem 0.6rem;
	letter-spacing: 0.75px;
	border-radius: 0.3rem;
	text-transform: uppercase;
}

.btn:link,
.btn:visited {
	padding: 0.4rem 0.8rem;
	border-radius: 0.3rem;
}

.btn--full:link,
.btn--full:visited {
	background-color: #e83820;
	color: #fff;
}

.btn--full,
.btn--full {
	background-color: #e83820;
	color: #fff;
}

.btn--full:hover,
.btn--full:active {
	background-color: #bb1f1f;
	color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
	color: #e83820;
	border-color: #e83820;
}

.btn--outline:hover,
.btn--outline:active {
	color: #bb1f1f;
	border-color: #fdebe9;
}

.view-all-btn:link,
.view-all-btn:visited {
	margin-bottom: 1.8rem;
	display: flex;
	align-items: center;
	transition: all 0.3s;
}

.view-all-btn:hover,
.view-all-btn:active {
	color: #e83820;
}

/* ============ PRODUCT BOX ================ */

.product-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
	border-radius: 5px;
	transition: all 0.3s;
}

.product-card:hover {
	box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.06);
	transform: translateY(-0.7rem);
}

.product-img {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.product-subtitle {
	font-size: 0.7rem;
	color: #e83820;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.product-title {
	color: #343a40;
	font-weight: 500;
	margin-bottom: 0.6rem;
}

.product-author {
	margin-bottom: 1.1rem;
}

.logo-container {
	width: 150px;
}


/* CATEGORY SECTION
=============== */
.category-box {
	color: #343a40;
	font-size: 1.2rem;
	height: 70px;
	background-color: #adb5bd;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.4rem;
	transition: all 0.3s;
	margin-bottom: 1rem;
}

.category-box:hover {
	transform: translateY(-0.15rem);
	font-weight: 500;
}

.category--fiction {
	background-color: #e7f5ff;
}

.category--fiction:hover {
	background-color: #a5d8ff;
}

.category--romance {
	background-color: #fff0f6;
}

.category--romance:hover {
	background-color: #fcc2d7;
}

.category--thriller {
	background-color: #f8f0fc;
}

.category--thriller:hover {
	background-color: #eebefa;
}

.category--scifi {
	background-color: #f3f0ff;
}

.category--scifi:hover {
	background-color: #d0bfff;
}

.category--selfhelp {
	background-color: #ebfbee;
}

.category--selfhelp:hover {
	background-color: #b2f2bb;
}

.category--horror {
	background-color: #fff5f5;
}

.category--horror:hover {
	background-color: #ffc9c9;
}

.icon {
	font-size: 1.3rem;
}


/* FOOTER SECTION
=============== */
footer {
	padding-bottom: 1rem;
	padding: 3rem 0 3rem 0;
	background-color: #0d0f10;
}

.footer-row {
	margin-bottom: 2rem;
}

.social-media-icons {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-left: 0.3rem;
}

.social-media-icon {
	color: #e7f5ff;
	font-size: 1.2rem;
	transition: all 0.3s;
}

.social-media-icon:hover {
	color: #e83820;
}

.footer-nav {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-nav a {
	color: #e7f5ff;
	transition: all 0.3s;
}

.footer-nav a:hover,
.footer-nav a:active {
	color: #e83820;
}

.heading-tertiary.footer-heading {
	color: #e7f5ff;
	font-size: 1.4rem;
	line-height: 1.5;
	margin-bottom: 0;
}

.copyright {
	color: #e83820;
	font-size: 0.9rem;
	width: fit-content;
}

/*============================================= */
/*============================================= */
/*====================CHATBOX================== */
/*============================================= */
/*============================================= */
/*============================================= */

.chatbox {
	position: fixed;
	bottom: 30px;
	right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
	display: flex;
	flex-direction: column;
	background: #eee;
	width: 300px;
	height: 350px;
	z-index: -123456;
	transform: translateX(100%);
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition: all 0.5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
	transform: translateY(-40px);
	z-index: 123456;
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
	transform: translateX(0%);
}

/* BUTTON */
.chatbox__button {
	text-align: right;
}

.send__button {
	padding: 6px;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

/* HEADER */
.chatbox__header {
	position: sticky;
	top: 0;
	background: orange;
}

/* MESSAGES */
.chatbox__messages {
	margin-top: auto;
	display: flex;
	overflow-y: scroll;
	flex-direction: column-reverse;
}

.messages__item {
	background: orange;
	max-width: 60.6%;
	width: fit-content;
}

.messages__item--operator {
	margin-left: auto;
}

.messages__item--visitor {
	margin-right: auto;
}

/* CHATBOT FOOTER */
.chatbox__footer {
	position: sticky;
	bottom: 0;
}

.chatbox__support {
	background: #f9f9f9;
	height: 450px;
	width: 350px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
	background: var(--primaryGradient);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 15px 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
	margin-right: 10px;
}

.chatbox__heading--header {
	font-size: 1.2rem;
	color: white;
}

.chatbox__description--header {
	font-size: 0.9rem;
	color: white;
}

/* Messages */
.chatbox__messages {
	padding: 0 20px;
}

.messages__item {
	margin-top: 10px;
	background: #e0e0e0;
	padding: 8px 12px;
	max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.messages__item--operator {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: var(--primary);
	color: white;
}

/* CHATBOT FOOTER */
.chatbox__footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px;
	background: var(--secondaryGradient);
	box-shadow: var(--secondaryBoxShadow);
	margin-top: 20px;
}

.chatbox__footer input {
	width: 80%;
	border: none;
	padding: 10px 10px;
	border-radius: 30px;
	text-align: left;
}

.chatbox__send--footer {
	color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
	padding: 10px;
	background: white;
	border: none;
	outline: none;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}