/* HEADER & NAVIGATION
=============== */

.navbar > div {
	padding: 0.5rem 3rem;
}

.navbar-brand {
	flex-basis: 150px;
}

.logo {
	width: 100%;
}

.navbar-nav {
	margin-left: 1rem;
	gap: 1rem;
}

.nav-link {
	transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
	color: #e83820 !important;
}

.authentication-box {
	gap: 0.8rem;
}

/* HERO SECTION
=============== */
.section-hero {
	height: 90vh;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
		url("images/pexels-dayan-rodio-4132936.jpg");
	background-size: cover;
	align-items: center;
}

.hero-description {
	font-size: 1.3rem;
	line-height: 1.4;
	letter-spacing: 0.5px;
	color: #adb5bd;
	margin-bottom: 1.8rem;
}



/* LANDING PAGE CONTINUATION - ALOK BOHIDAR  */

.book-stack {
	position: relative;
	width: 170px;
	height: 250px;
	transform: translate(700%, -10%);
}

.book-stack img {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 1s;
}

.book-stack img:nth-child(1) {
	transform: translate(0, 0);
}

.book-stack img:nth-child(2) {
	transform: translate(-20px, -20px);
}

.book-stack img:nth-child(3) {
	transform: translate(-40px, -40px);
}

.book-stack img:nth-child(4) {
	transform: translate(-60px, -60px);
}

.book-stack img:nth-child(5) {
	transform: translate(-80px, -80px);
}

.book-stackk {
	position: relative;
	width: 170px;
	height: 250px;
	transform: translate(600%, 20%);
}

.book-stackk img {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 2.4s;
}

.book-stackk img:nth-child(1) {
	transform: translate(0, 0);
}

.book-stackk img:nth-child(2) {
	transform: translate(-20px, -20px);
}

.book-stackk img:nth-child(3) {
	transform: translate(-40px, -40px);
}

.book-stackk img:nth-child(4) {
	transform: translate(-60px, -60px);
}

.book-stackk img:nth-child(5) {
	transform: translate(-80px, -80px);
}

.section-landing {
	height: 100vh;
	background-size: cover;
	background: black; /* Replace with your desired gradient colors */
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
	padding: 90px;
	color: #ffffff;
}

.heading-primary-up {
	font-size: 2.5rem;
	color: #dee2e6;
	letter-spacing: 1;
	transform: translate(1%, 160%);
	animation-name: floating;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
@keyframes floating {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

.hero-description-up {
	font-size: 1.4rem;
	line-height: 2;
	letter-spacing: 3.6px;
	color: #adb5bd;
	margin-bottom: 1.8rem;
	transform: translate(0%, -110%);
	position: relative;
}

/*services*/

.services {
	width: 100%;
	height: auto;
	margin: 35px 0;
}

.services .services_box {
	width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.services .services_box .services_card {
	text-align: center;
	width: 310px;
	height: auto;
	box-shadow: 0 0 8px #dc0000;
	padding: 15px 10px;
}

.services .services_box .services_card i {
	color: #530000;
	font-size: 45px;
	margin-bottom: 15px;
	cursor: pointer;
}

.services .services_box .services_card h3 {
	margin-bottom: 10px;
}

/*about*/

.about {
	width: 100%;
	height: auto;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about .about_tag h1 {
	font-size: 50px;
	position: relative;
	bottom: 35px;
}

.about .about_tag p {
	line-height: 22px;
	width: 650px;
	text-align: justify;
	margin-bottom: 15px;
}

.about .about_tag .about_btn {
	padding: 10px 20px;
	background: #089da1;
	color: #fff;
	text-decoration: none;
	position: relative;
	top: 50px;
}


/* NEWSLETTER SECTION (EXPLORE PAGE)
=============== */
.section-newsletter {
	margin-bottom: 2rem;
	height: 350px;
}

.section-newsletter > .container {
	padding: 3.5rem 0;
	border-radius: 8px;
	background: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.7)
		),
		url("images/books-1204029.jpg");
	background-size: cover;
}

.newsletter-cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.subtitle--cta {
	font-size: 1rem;
	padding: 0.4rem 0.8rem;
}

.cta-description {
	color: #e9ecef;
	margin-bottom: 1.7rem;
	text-align: center;
}

.cta-email-input {
	padding: 1rem;
	border-width: 1.5px;
	border-radius: 0.3rem;
	border-style: none;
}

.cta-subscribe {
	color: #fff;
	background-color: #e83820;
	padding: 1rem;
	border-radius: 0.3rem;
	border-style: none;
	transition: all 0.3s;
}

.cta-subscribe:hover {
	color: #fff;
	background-color: #bb1f1f;
}

/*============================================= */
/*============================================= */
/*====================LOGIN================== */
/*============================================= */
/*============================================= */
/*============================================= */

.section-login {
	height: 100vh;
}

.wrap-authentication {
	width: 45rem;
	display: flex;
	gap: 1rem;
}

.wrap-authentication .img-container {
	width: 50%;
}

.wrap-authentication .login-container {
	width: 50%;
	padding: 1.8em 2.6rem;
	border-radius: 0.6rem;
	/* background-color: #fdebe9; */
	box-shadow: 0rem 0rem 0.15rem rgba(0, 0, 0, 0.315);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.wrap-authentication .login-container img {
	width: 150px;
	margin-bottom: 0.7rem;
}

.login-container .login-flash-msg{
	color: red;
}

.login-container .login-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	justify-content: center;
	align-items: center;
}

.login-form .login-input {
	width: 100%;
	padding: 0.2rem 0.4rem;
	border: 1px solid rgba(0, 0, 0, 0.315);
	border-radius: 0.3rem;
}

.login-form .btn--full {
	margin-top: 0.3rem;
}

.login-form .txt2:link,
.login-form .txt2:visited {
	color: #e83820;
	transition: all 0.3s;
}

.login-form .txt2:hover,
.login-form .txt2:active {
	color: #bb1f1f;
	
}



/* ///////////////////////////////////////
///////////////////////////////////////
///////// CHATBOT IMAGE /////////////////
/////////////////////////////////////// 
/////////////////////////////////////// */


.image-chat {
	position: relative;
	width: 50%;
	height: auto;
}

.image-chat img {
	position: absolute;
	width: 70%;
	height: 110%;
	opacity: 0;
	border-radius: 0.6rem;
	animation: fadeAnimation 7s linear infinite;
	transform: translate(20%, -5%);
}

.image-chat img:first-child {
	animation-delay: 1.4s;
}

.image-chat img:last-child {
	animation-delay: 4s;
}

@keyframes fadeAnimation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


/* ///////////////////////////////////////
///////////////////////////////////////
///////// BOOK SECTION /////////////////
/////////////////////////////////////// 
/////////////////////////////////////// */

.section-book .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
	min-height: 80vh;;
  }

.book-img-container {
	display: flex;
    padding: 10px;
    max-width: fit-content;
	transform: translate(0%, 0%);
	justify-content: center;
	margin-top: 2rem;
	
  }

  .book-imgs {
    width: 800px;
    height: auto;
    margin-right: 150px;
	border-radius: 0 6% 6% 0/4%;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow to the book image */
  }


.book-info-container {
	flex-grow: 1;
	margin-left: 40px;
  }

  .book-info-title {
    font-size: 60px;
    margin-bottom: 10px;
	overflow-wrap: break-word;
  }

  .book-info-author {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .book-info-genre {
    font-size: 22px;
    margin-bottom: 5px;
	margin-top: 20px;
  }

  .book-info-price {
	font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
	display: flex;
    align-items: center;
	
  }
  .book-info-price i {
    margin-right: 5px; /* Add spacing between the icon and the price */
  }

  .book-info-rating{
	font-size: 24px;
    color: #888;
    margin-top: 20px; /* Adjust the margin-top value as needed */
    margin-bottom: 5px;
	margin-right: 5px;
  }

  .book-info-container p:last-child {
    margin-bottom: 0;
  }

  .book-info-description {
    font-size: 18px;
    margin-top: 20px;
    line-height:2.3;
}