{% include "components/header.html"%}

		<main>
			<section class="section-hero d-flex">
				<div class="container">
					<div class="hero row">
						<div class="hero-textbox col-sm-12 col-md-6">
							<h1 class="heading-primary">
								From mystery to romance, we have books to suit
								every taste
							</h1>
							<p class="hero-description">
								With easy browsing and hassle-free delivery, we
								make it easy for you to indulge in your reading
								passion. Find your next adventure today!
							</p>
							<a href="" class="btn btn--full">Explore Now</a>
						</div>
					</div>
				</div>
			</section>
			
			<!-- Landing Page -->
			<section class="section-landing">
					<h1 class="heading-primary-up">
					Read what you want, <br> when you want…!
					</h1>
					<div class="book-stack">
						<img src="https://shorturl.at/gAJ12" alt="Book 1">
						<img src="https://shorturl.at/uwxzI" alt="Book 2">
						<img src="https://shorturl.at/deqIS" alt="Book 3">
						<img src="https://shorturl.at/be168" alt="Book 4">
						<img src="https://shorturl.at/gzHU6" alt="Book 5">
					</div>

					<div class="book-stackk">
						<img src="https://shorturl.at/oxJM8" alt="Book 6">
						<img src="https://shorturl.at/HTVX8" alt="Book 7">
						<img src="https://shorturl.at/gmC89" alt="Book 8">
						<img src="https://shorturl.at/GPR24" alt="Book 9">
						<img src="https://shorturl.at/nGNX6" alt="Book 10">
					  </div>


					<p class="hero-description-up">
						Welcome to our enchanting book store,<br> where stories come to life and imaginations take flight. <br> Nestled within our cozy walls, <br> you'll find a treasure trove of literary delights, <br> waiting to be discovered. <br> Step inside and immerse yourself <br> in the captivating scent of aged pages <br> and the whispered promises of <br> countless adventures.
					</p>
	
			</section>

<!-- CHATBOT UI -->
{% include "components/chatbot.html"%}

<!-- FOOTER SECTION -->
{% include "components/footer.html" %}