{%include "components/header.html"%}

<main>
	<section class="section-login d-flex">
		<div class="container d-flex align-items-center justify-content-center">
			<div class="wrap-authentication">
				<div class="image-chat">
					<img class="chat1" src="{{ url_for('static', filename='images/Chat.png') }}"  alt="Image 1">
					<img class="chat2" src="{{ url_for('static', filename='images/Chat2.png') }}"  alt="Image 2">
				  </div>
				<div class="login-container">
					<img
						src="{{ url_for('static', filename='images/logo.png') }}"
						alt="The Book Club"
						class="logo"
					/>

					{% with messages = get_flashed_messages()%}
          				{% for message in messages: %}
            				<p class="login-flash-msg">{{message}}</p>
         				{% endfor %}
        			{% endwith %}
			
					<form class="login-form" action="{{url_for('login')}}" method="post" novalidate="True">
						<input type="text" name="email" class="login-input" placeholder="Email">
						<input type="password" name="password" class="login-input" placeholder="Password">
						<div class="container-login-form-btn mt-2">
							<input type="submit" class="btn btn--full" value="Login">
						</div>

						<div class="text-center mt-2">
							<span class="txt1"> Dont have an account ? </span>
							<a class="txt2" href="{{url_for('register')}}">
								Sign Up
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>
